body {
  background-color: #263238;
}

.btn {
  position: absolute;
  left: 39%;
  right: 39%;
  top: 50%;
  width: 300px;
}

/*------------------------------------------------------------------------------*/

a {
  border: 3px solid green;
  padding: 20px 100px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 1s ease 0s;
  background-color: #a9ffb0;
  color: green;
  cursor: pointer;
}

a:hover {
  background-color: green;
  color: #a9ffb0;
  font-weight: bold;
  transition: all 1s ease 0s;
  cursor: pointer;
}