<!--The content below is only a placcage cage cageeholder and can be replaced.-->
<header>
  <h1 class="header-text">
    Welcome to the {{ title }}!
  </h1>
</header>

<div class="container-fluid">
  <div class="row title-block">
    <div class="col line-top-block">
      <hr class="line-top">
      <h1 class="title-text">ALBUMS</h1>
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid container-fluid-content">
  <div class="row content-block justify-content-around">
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" id="btn" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
    <div class="col cover">
      <a href="#">
        <img class="img_001" src="assets/img/covers/001.jpg" title="Cover" alt="Image">
      </a>
      <h5 class="info">Description:</h5>
      <ul class="item-list">
        <li class="info-item"><span class="item-name-bold">Artist:</span><span class="item-name-light"> Menno de Jong</span></li>
        <li class="info-item"><span class="item-name-bold">Title:</span><span class="item-name-light"> In Trance We Trust 022</span></li>
        <li class="info-item"><span class="item-name-bold">Genre:</span><span class="item-name-light"> Electronic, Trance, Progressive</span></li>
        <li class="info-item"><span class="item-name-bold">Year:</span><span class="item-name-light"> 2018</span></li>
        <li class="info-item"><span class="item-name-bold">Tracks:</span><span class="item-name-light"> 17</span></li>
        <li class="info-item"><span class="item-name-bold">Size:</span><span class="item-name-light"> 452 Mb</span></li>
      </ul>
      <hr>
      <button type="button" class="btn btn-secondary">More</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col footer-line">
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid container-fluid-footer">
  <div class="row footer">
    <div class="col footer-section">
      <h1 class="footer-info">Music Store Logo</h1>
    </div>
    <div class="col footer-section">
      <h1 class="footer-info">© 2018 | Made by Zhukov Andrew</h1>
    </div>
  </div>
</div>
