<!--The content below is only a placcage cage cageeholder and can be replaced.-->
<header>
  <h1 class="header-text">
    Welcome to the {{ title }}!
  </h1>
</header>

<div class="container">
  <div class="row">
    <div class="col">
      66666666666666666666666666666666
    </div>
  </div>
</div>

<div class="container">
  <div class="row content-block">
    <div class="col cover">
      <a href="">
        <img class="img_001" src="./img/covers/001.jpg" title="Cover" alt="Image">
      </a>
    </div>
    <div class="col cover">
      2 of 3
    </div>
    <div class="col cover">
      3 of 3
    </div>
  </div>
</div>
