/* PAGE ABOUT */
.about {
  position: relative;
  height: 677px;
  width: 100%;
}

.stew-product-page .row,
.ham-product-page .row,
.porridge-product-page .row,
.pate-product-page .row {
  justify-content: center;
}

.porridge-page .row {
  justify-content: center;
}

.about > .container-fluid {
  height: 100%;
}

.about > .container-fluid > .row {
  height: 100%;
}

#carouselExampleSlidesOnly {
  width: 100%;
}

#carouselExampleIndicators {
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-caption-about {
  width: 593px;
  height: 439px;
  position: absolute;
  top: 3rem;
  margin: 0 auto;
  text-align: center;
}

.about-title {
  font-size: 24px;
  line-height: 53px;
  padding-bottom: 0.4rem;
  font-family: "Lora", serif;
  color: #91692e;
}

.about-text {
  font-size: 14px;
  line-height: 28px;
  font-family: "Fira Code", sans-serif;
}

.about-text,
.about-line {
  text-align: center;
  color: #202020;
}

.about-line {
  border-bottom: 4px solid #202020;
  margin-bottom: 3.6rem;
  width: 380px;
}

.about-btn-wrap {
  margin-top: 56px;
}

.about-btn {
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 24px;
  color: black;
  font-size: 16px;
  font-family: "Fira Code", sans-serif;
  text-align: center;
  transition: 0.5s;
}

.about-btn:hover {
  background-color: #4a76a8;
  border: 2px solid #4a76a8;
  color: white;
  text-decoration: none;
}

//PRODUCT PAGES

.stew-title,
.porridge-title,
.ham-title,
.stew-product-title,
.porridge-product-title,
.pate-title {
  position: relative;
  top: 3rem;
}

.stew-title-name,
.porridge-title-name,
.ham-title-name,
.stew-product-title-name,
.porridge-product-title-name,
.pate-title-name {
  font-family: "Lora", serif;
  font-size: 24px;
  text-align: center;
}

.stew-title-about,
.porridge-title-about,
.ham-title-about,
.stew-product-title-about,
.porridge-product-title-about,
.pate-title-about {
  text-align: justify;
  font-family: "Fira Code", sans-serif;
  font-size: 14px;
}

.stew-page,
.porridge-page,
.ham-page,
.pate-page,
.stew-product-page,
.ham-product-page,
.porridge-product-page,
.pate-product-page {
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.stew-block,
.porridge-block,
.ham-block,
.pate-block,
.stew-product-block,
.ham-product-block,
.porridge-product-block,
.pate-product-block {
  padding: 20px 10px 20px;
  min-height: 560px;
  transition: 0.7s;
}

.stew-product-block-1,
.ham-product-block-1,
.porridge-product-block-1,
.pate-product-block-1 {
  transition: 0.7s;
}

.stew-block:hover,
.porridge-block:hover,
.ham-block:hover,
.pate-block:hover,
.stew-product-block:hover,
.ham-product-block:hover,
.porridge-product-block:hover,
.pate-product-block:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.stew-block h3,
.porridge-block h3,
.ham-block h3,
.pate-block h3,
.stew-product-block h3,
.ham-product-block h3,
.porridge-product-block h3,
.pate-product-block h3 {
  font-family: "Lora", serif;
  font-size: 24px;
  margin-top: 2rem;
  text-align: center;
}

.stew-product-img,
.ham-product-img,
.porridge-product-img,
.pate-product-img {
  text-align: center;
}

.porridge-description li,
.ham-description li,
.pate-description li,
.stew-product-description li,
.ham-product-description li,
.porridge-product-description li,
.pate-product-description li {
  font-family: "Fira Code", sans-serif;
  font-size: 14px;
}

.stew-product-description-1 li,
.ham-product-description-1 li,
.porridge-product-description-1 li,
.pate-product-description-1 li {
  font-family: "Fira Code", sans-serif;
  font-size: 14px;
  list-style: none;
  text-align: center;
  color: #797676;
}

.about-common .about-common-list li {
  font-family: "Fira Code", sans-serif;
  font-size: 14px;
}

.stew-description,
.porridge-description,
.ham-description,
.pate-description,
.stew-product-description,
.ham-product-description,
.porridge-product-description,
.pate-product-description {
  font-size: 14px;
  color: #797676;
  font-weight: 500;
  padding: 4px 10px 0 3px;
  font-family: "Fira Code", sans-serif;
  list-style: none;
  text-align: center;
  width: 338px;
  margin: 0 auto;
}

.stew-product-block-1 h3,
.ham-product-block-1 h3,
.porridge-product-block-1 h3,
.pate-product-block-1 h3 {
  font-family: "Lora", serif;
  font-size: 24px;
  margin-top: 2rem;
  text-align: center;
}

.stew-item,
.porridge-item,
.ham-item,
.pate-item {
  text-align: center;
}

.stew-page-link-text,
.porridge-page-link-text,
.ham-page-link-text,
.pate-page-link-text {
  border: 2px solid #18477b;
  border-radius: 4px;
  padding: 6px;
  color: black;
  text-align: center;
  font-size: 14px;
  font-family: "Fira Code", sans-serif;
  margin-top: 25px;
  width: 125px;
}

.stew-page-link-text:hover,
.porridge-page-link-text:hover,
.ham-page-link-text:hover,
.pate-page-link-text:hover {
  background-color: #18477b;
  color: white;
}

.porridge-description,
.ham-description,
.pate-description-gold {
  text-align: center;
  margin: 0 auto;
}

.pig-description,
.beef-description,
.chicken-description,
.horseflesh-description,
.turkey-description {
  font-family: "Proxima Nova Rg", serif;
}

.turkey-title {
  font-size: 25px;
}

.porridge-page .porridge-block h3,
.ham-page .ham-block h3,
.pate-page .pate-block h3 {
  font-family: "Lora", serif;
  font-size: 24px;
}

.ornament-top {
  margin-top: 5rem;
}

.about-awards-common > .ornament {
  margin-top: 5rem;
}

.ornament-stew,
.ornament-ham,
.ornament-porridge,
.ornament-pate {
  margin-top: 3rem;
}

.ornament-stew-page,
.ornament-ham-page,
.ornament-porridge-page,
.ornament-pate-page {
  margin-top: -3rem;
}

.ornament-contacts {
  margin-top: 3rem;
}

/* AWARDS CAROUSEL */
.awards {
  position: relative;
  left: 0;
  width: 100%;
  max-width: 1264px;
  height: 347px;
  overflow: hidden;
  margin: 0 auto;
}

.awards-images::before {
  background: linear-gradient(90deg, white, transparent);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  width: 500px;
  z-index: 1;
}

.awards-images::after {
  background: linear-gradient(-90deg, white, transparent);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  width: 500px;
  z-index: 1;
}

.award-img {
  float: left;
}

.awards-title {
  text-align: center;
  margin-top: 4rem;
  color: black;
  font-family: "Lora", serif;
  font-size: 24px;
}

// SOCIAL
.social {
  width: 100%;
}

// INST WRAPPER
.inst-wrapper {
  width: 100%;
}

//CATALOG PAGE
.catalog {
  width: 100%;
}

.product-item-click {
  color: black;
  display: none;
}

.product-page-link-btn-2-hide {
  display: none;
}

.product-item-click:hover {
  text-decoration: none;
  color: black;
}

.product-page {
  position: relative;
  background: url("/wp-content/themes/grodfood/dist/images/product-page/product-page-bg.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.product-item {
  text-align: center;
}

.product-block {
  padding: 20px 10px 20px;
  min-height: 560px;
  transition: 0.7s;
}

.product-block-pos-1,
.product-block-pos-3 {
  position: relative;
  top: 14rem;
}

.product-block-pos-3 > h2 {
  padding-top: 0;
}

.product-block-pos-2,
.product-block-pos-4 {
  position: relative;
  top: 11rem;
}

.product-block-pos-1 {
  left: -5rem;
  z-index: 1;
}

.product-block-pos-2 {
  left: -2rem;
}

.product-block-pos-4 {
  left: 3rem;
}

.product-stew {
  position: relative;
  left: -5rem;
}

.product-porridge {
  position: relative;
  left: -5rem;
}

.product-pate {
  position: relative;
  left: -3rem;
}

.product-block-pos-2 h2 {
  padding-top: 95px;
}

.stew-block a,
.pate-block a {
  text-decoration: none;
}

.stew-block p,
.pate-block p {
  transition: 0.7s;
}

.product-page-btn-block {
  max-width: 63.6rem;
  margin: 0 auto;
}

.product-page-link-text {
  border: 2px solid black;
  border-radius: 4px;
  padding: 6px;
  color: black;
  text-align: center;
  font-size: 16px;
  font-family: "Fira Code", sans-serif;
  margin: 0 auto;
  transition: 0.5s;
  width: 135px;
}

.product-page-link-btn {
  margin: 0 auto;
  position: relative;
  top: -4rem;
  z-index: 1;
}

.product-page-link-btn h2 {
  font-family: Lora, serif;
  font-size: 24px;
  font-weight: bold;
}

.product-page-link-btn-2 {
  margin-left: 2.8rem;
}

.product-stew-page-horse-link-btn {
  margin-top: 54px !important;
}

.product-stew-page-link-btn,
.product-pate-page-link-btn {
  width: 116px;
  margin: 0 auto;
}

.product-page-link-text:hover {
  background-color: #18477b;
  border: 2px solid #18477b;
  color: white;
}

.product-page-link:hover {
  text-decoration: none;
}

.product-description {
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  width: 252px;
}

.product-page-link-btn p {
  font-size: 15px;
}

.product-pate-title {
  margin-top: 189px;
}

.product-block p {
  font-family: "Fira Code", sans-serif;
  font-size: 14px;
}

.product-block-item-img img {
  transition: 1s;
  width: 336px;
  height: 336px;
}

.product-block-item-img,
.stew-product-img,
.ham-product-img,
.porridge-product-img,
.pate-product-img {
  overflow: hidden;
}

.product-block-img img {
  transition: 1s;
}

.stew-product-img img,
.ham-product-img img,
.porridge-product-img img,
.pate-product-img img {
  transition: 1s;
  width: 350px;
  height: 350px;
}

.stew-product-img img:hover {
  transition: 1s;
  transform: scale(1.09);
}

.ham-product-img img:hover {
  transition: 1s;
  transform: scale(1.09);
}

.porridge-product-img img:hover {
  transition: 1s;
  transform: scale(1.09);
}

.pate-product-img img:hover {
  transition: 1s;
  transform: scale(1.09);
}

.product-block-item-img img:hover {
  transition: 1s;
  transform: scale(1.09);
}

.product-block-img img:hover {
  transform: scale(1.09);
  transition: 1s;
}

.breadcrumb {
  width: 1143px;
  margin: 0 auto;
  background-color: transparent;
}

.contact-description a {
  color: black;
}

.contacts-description a {
  color: black;
}

.about-common li a {
  color: black;
}

.about-common p a {
  color: black;
}

.breadcrumbs li a {
  color: black;
  font-family: "Fira Code", sans-serif;
  font-size: 14px;
}

.breadcrumbs li a:hover {
  color: black;
  transition: 1s;
}

.decor {
  box-shadow: 0 2px 12px -2px black;
}

.decor-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.decor-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-size: 33px;
  color: #a67c30;
  position: absolute;
  left: 0;
  padding-top: 2.55rem;
  right: 0;
}

// NAVBAR PAGES
.contacts-block-main {
  position: relative;
  margin-bottom: 5rem;
}

.contacts-block-main .container {
  margin-top: 3rem;
}

.consumer,
.distribution {
  position: relative;
  top: 8rem;
  margin-bottom: 12rem;
}

.about-awards-common {
  position: relative;
  top: -2rem;
  margin-bottom: 5rem;
}

.about-common-title {
  font-family: "Lora", serif;
  font-size: 24px;
  text-align: center;
}

.about-common-description {
  text-align: justify;
  font-family: "Fira Code", sans-serif;
  font-size: 14px;
}

.partner {
  margin-bottom: 3rem;
}

.consumer-about-product-description-align {
  text-align: center;
}

.consumer-about-pate-salad-2 {
  margin-top: 3rem;
}

.world-map {
  width: 100%;
  height: 100%;
}

.about-pate {
  text-align: center;
  margin-bottom: 1rem;
}

// CONTACTS
.contacts-bg {
  background: url("/wp-content/themes/grodfood/dist/images/page-3/background.jpg") no-repeat center;
  background-size: cover;
}

.contacts-main {
  width: 252px;
  margin: 0 auto;
}

.contacts-block {
  margin-top: 5rem;
}

.contacts-title {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.company-name {
  color: #91692e;
  font-family: "Lora", serif;
  font-weight: bold;
  width: 265px;
}

.contact-title {
  font-family: "Lora", serif;
  font-size: 20px;
  text-align: center;
}

.contact-name {
  font-family: "Lora", serif;
  font-size: 20px;
  text-align: center;
}

.contacts-description,
.contact-description {
  font-family: "Fira Code", sans-serif;
  font-size: 14px;
  text-align: center;
}

.about-company-logo {
  width: 183px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

// MEDIA QUERY
@media screen and (max-width: 1920px) {
  .product-pate-title {
    margin-top: 172px;
  }
}

@media screen and (max-width: 1420px) {
  .product-block-pos-1 {
    left: 0;
  }

  .product-block-pos-2 {
    left: -1.5rem;
  }

  .product-block-pos-3 {
    left: -2.5rem;
  }

  .product-block-pos-4 {
    left: -2rem;
  }

  .product-pate {
    width: 340px;
    height: 350px;
  }

  .product-pate-title {
    margin-top: 190px;
  }
}

@media screen and (min-width: 1368px) {
  .product-page {
    position: relative;
    background-size: cover;
    min-height: 1032px;
    height: 100%;
  }

  .product-page-link-btn {
    top: 5rem;
  }
}

@media screen and (max-width: 1367px) {
  .product-page-btn-block {
    max-width: 58.7rem;
  }

  .product-page-link-btn {
    top: -7rem;
  }
}

@media screen and (max-width: 1280px) {
  .awards {
    width: 1100px;
  }

  .carousel-caption-about {
    top: 5rem;
  }
}

@media screen and (max-width: 1225px) {
  .product-stew {
    width: 380px;
    height: 455px;
  }

  .product-ham {
    width: 279px;
    height: 408px;
  }

  .product-porridge {
    width: 368px;
    height: 454px;
  }

  .product-pate {
    width: 319px;
    height: 314px;
  }
}

@media screen and (max-width: 1200px) {
  .product-block-pos-3 > h2 {
    padding-top: 47px;
  }

  .product-block-pos-4 {
    margin-bottom: 280px;
  }

  .product-block-pos-4 > .product-item-click > .product-block-img {
    padding-left: 29px;
  }

  .product-pate {
    left: -3rem;
  }

  .product-pate-title {
    margin-top: 56px;
  }

  .breadcrumb {
    width: 960px;
  }

  .product-page-link-btn {
    top: 6rem;
  }

  .product-page-link-btn-4 {
    top: -44rem;
  }
}

@media screen and (max-width: 1144px) {
  .carousel-caption-about {
    top: 4rem;
  }

  .about-title {
    font-size: 24px;
  }

  .about-text {
    font-size: 14px;
  }

  .product-block-pos-4 {
    left: 2rem;
  }
}

@media screen and (max-width: 1118px) {
  .awards {
    width: 900px;
  }
}

@media screen and (max-width: 1030px) {
  .consumer,
  .partner,
  .distribution,
  .about-awards-common,
  .contacts-block-main {
    top: 1rem;
  }

  .ornament {
    margin-top: 0;
  }

  .ornament-top {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 1015px) {
  .product-stew {
    width: 370px;
    height: 440px;
  }

  .product-ham {
    width: 262px;
    height: 395px;
  }

  .product-porridge {
    width: 348px;
    height: 441px;
  }

  .product-pate {
    width: 319px;
    height: 314px;
  }

  .product-block-pos-4 {
    left: 2rem;
    margin-bottom: 15rem;
  }

  .product-pate-title {
    margin-top: 56px;
  }

  .product-description-pate {
    margin-bottom: 16px;
  }

  .breadcrumb {
    width: 723px;
  }
}

@media screen and (max-width: 991px) {
  .main,
  .content-info {
    overflow-x: hidden;
  }

  .product-description-stew {
    margin-bottom: 16px;
    width: 198px;
    padding-left: 62px;
  }

  .product-description-ham,
  .product-description-porridge {
    width: 198px;
    padding-left: 62px;
  }

  .product-description-pate {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .product-block-pos-3 > .product-item-click > h2 {
    padding-top: 47px;
  }

  .product-block-pos-4 > .product-item-click > .product-block-img {
    padding-left: 36px;
  }
}

@media screen and (max-width: 986px) {
  .carousel-caption-about {
    top: 4rem;
  }

  .about-title {
    font-size: 24px;
  }

  .about-line {
    border-bottom: 3px solid #202020;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 918px) {
  .awards {
    width: 700px;
  }

  .awards-images::before {
    background: none;
  }

  .awards-images::after {
    background: none;
  }

  .about-title {
    font-size: 24px;
  }

  .about-text {
    font-size: 14px;
  }

  .about-line {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 990px) {
  .product-stew {
    width: 330px;
    height: 395px;
  }

  .product-ham {
    width: 230px;
    height: 337px;
  }

  .product-porridge {
    width: 280px;
    height: 348px;
    left: -1rem;
  }

  .product-pate {
    width: 290px;
    height: 298px;
  }

  .product-block-pos-3 > .product-block-name-3 h2 {
    margin-top: 46px;
  }

  .product-description-stew,
  .product-description-porridge {
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 796px) {
  .carousel-caption-about {
    left: 5rem;
    top: 4rem;
  }

  .awards {
    width: 500px;
  }

  .about-title {
    font-size: 24px;
  }

  .about-text {
    font-size: 14px;
  }

  .about-company-logo {
    width: 136px;
  }

  .about-company-logo img {
    width: 136px;
    height: 105px;
  }
}

@media screen and (max-width: 770px) {
  .breadcrumb {
    width: 543px;
  }

  .product-stew {
    position: relative;
    left: -3rem;
  }

  .product-ham {
    position: relative;
    left: 0;
  }

  .product-porridge {
    position: relative;
    left: 0;
  }

  .product-pate {
    position: relative;
    left: -7rem;
  }

  .product-block-pos-2 > .product-item-click > .product-block-img {
    padding-left: 44px;
  }

  .product-block-pos-4 > .product-item-click > .product-block-img {
    padding-left: 116px;
  }

  .product-block-name {
    margin-left: -4rem;
  }
}

@media screen and (max-width: 767px) {
  .product-item-click {
    display: block;
  }

  .product-page-link-btn {
    display: none;
  }

  .product-page-link-btn-2-hide {
    display: block;
    margin-left: -0.2rem;
  }

  .product-page {
    background: none;
    height: 100%;
    max-height: 100%;
  }

  .product-block-pos-1,
  .product-block-pos-2,
  .product-block-pos-3,
  .product-block-pos-4 {
    top: 0;
  }

  .product-block-pos-1,
  .product-block-pos-2,
  .product-block-pos-3 {
    top: 0;
  }

  .product-block-pos-4 {
    margin-bottom: 0;
  }

  .about-btn {
    padding: 10px 33px;
  }

  .product-block-name-1,
  .product-block-name-2,
  .product-block-name-3,
  .product-block-name-4 {
    width: 254px;
  }

  .product-page .product-block-pos-3 .product-block-img {
    margin-top: -3rem;
  }

  .product-block-name-1 h2,
  .product-block-name-2 h2,
  .product-block-name-3 h2,
  .product-block-name-4 h2 {
    font-family: "Lora", serif;
  }

  .product-block-pos-2 > .product-block-name-2 > .product-item-click > h2,
  .product-block-pos-3 > .product-block-name-3 > .product-item-click > h2,
  .product-block-pos-4 > .product-block-name-4 > .product-item-click > h2 {
    padding-top: 0;
    margin-top: 0;
  }

  .product-block-name-1 {
    margin-left: 5rem;
  }

  .product-block-name-2 {
    margin-left: 6.8rem;
  }

  .product-block-name-3 {
    margin-left: 7.9rem;
  }

  .product-block-name-4 {
    margin-left: 3.4rem;
  }

  .product-stew {
    position: relative;
    left: -1rem;
  }

  .product-ham {
    position: relative;
    left: 0;
  }

  .product-porridge {
    position: relative;
    left: 2rem;
  }

  .product-pate {
    position: relative;
    left: -5rem;
  }

  .decor {
    display: none;
  }

  .main-logo {
    margin-right: 10rem;
  }
}

@media screen and (max-width: 690px) {
  .carousel-caption-about {
    width: 510px;
    left: 4rem;
    top: 2rem;
  }

  .about-btn {
    padding: 7px 22px;
  }
}

@media screen and (max-width: 620px) {
  .carousel-caption-about {
    width: 480px;
    left: 2rem;
    top: 2rem;
  }

  .about-btn-wrap {
    margin-top: 29px;
  }

  .about-btn {
    padding: 5px 11px;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .product-stew {
    left: 4.5rem;
  }

  .product-ham {
    left: 8rem;
  }

  .product-porridge {
    left: 9rem;
  }

  .product-pate {
    left: -3rem;
  }

  .product-block-name-1 {
    margin-left: 7.5rem;
  }

  .product-block-name-2 {
    margin-left: 9rem;
  }

  .product-block-name-3 {
    margin-left: 9.5rem;
  }

  .product-block-name-4 {
    margin-left: 5rem;
  }

  .product-block-pos-1 > .product-item-click > .product-block-img,
  .product-block-pos-2 > .product-item-click > .product-block-img,
  .product-block-pos-3 > .product-item-click > .product-block-img,
  .product-block-pos-4 > .product-item-click > .product-block-img {
    width: 230px;
  }
}

@media screen and (max-width: 591px) {
  .product-stew {
    left: 1.5rem;
  }

  .product-ham {
    left: 6rem;
  }

  .product-porridge {
    left: 8rem;
  }

  .product-pate {
    left: 5rem;
  }

  .product-block-name-1 {
    margin-left: 4.5rem;
  }

  .product-block-name-2 {
    margin-left: 7rem;
  }

  .product-block-name-3 {
    margin-left: 9rem;
  }

  .product-block-name-4 {
    margin-left: 5.7rem;
  }

  .product-block-pos-1 {
    width: 361px;
  }

  .product-block-pos-4 > .product-item-click > .product-block-img {
    padding-left: 0;
  }

  .product-block-pos-4 {
    left: 0;
  }
}

@media screen and (max-width: 584px) {
  .decor-title {
    margin-top: -1.3rem;
  }
}

@media screen and (max-width: 580px) {
  .breadcrumb {
    width: 360px;
  }

  .carousel-caption-about {
    width: 300px;
    left: 4rem;
    top: 0;
  }

  .about-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .awards-images {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 459px) {
  .product-stew {
    left: 0.5rem;
  }

  .product-ham {
    left: 4rem;
  }

  .product-porridge {
    left: 6.5rem;
  }

  .product-pate {
    left: 3rem;
  }

  .product-block-name-1 {
    margin-left: 3rem;
  }

  .product-block-name-2 {
    margin-left: 5rem;
  }

  .product-block-name-3 {
    margin-left: 7rem;
  }

  .product-block-name-4 {
    margin-left: 4.5rem;
  }

  .about-text {
    position: relative;
    left: -0.5rem;
  }
}

@media screen and (max-width: 407px) {
  .product-stew {
    left: 0.5rem;
  }

  .product-ham {
    left: 4.3rem;
  }

  .product-porridge {
    left: 5.5rem;
  }

  .product-pate {
    left: 3rem;
  }

  .product-block-name-1 {
    margin-left: 4rem;
  }

  .product-block-name-2 {
    margin-left: 5.5rem;
  }

  .product-block-name-3 {
    margin-left: 6.5rem;
  }

  .product-block-name-4 {
    margin-left: 2.5rem;
  }

  .product-block-pos-1 {
    left: -1rem;
  }

  .product-block-pos-2 {
    left: -2.3rem;
  }

  .product-block-pos-3 {
    left: -3.3rem;
  }

  .product-block-pos-4 {
    left: -1rem;
  }
}

@media screen and (max-width: 392px) {
  .product-stew {
    left: -0.5rem;
    width: 300px;
    height: 359px;
  }

  .product-ham {
    left: 3rem;
    width: 200px;
    height: 293px;
  }

  .product-porridge {
    left: 4.5rem;
    width: 250px;
    height: 311px;
  }

  .product-pate {
    left: 2rem;
    width: 260px;
    height: 267px;
  }

  .product-block-name-1 {
    margin-left: 2rem;
  }

  .product-block-name-2 {
    margin-left: 3rem;
  }

  .product-block-name-3 {
    margin-left: 4rem;
  }

  .product-block-name-4 {
    margin-left: 1.5rem;
  }

  .product-block-pos-4 > .product-item-click > .product-block-img {
    padding-left: 0;
  }

  .carousel-caption-about {
    left: 2.5rem;
  }

  .product-block-pos-1,
  .product-block-pos-2,
  .product-block-pos-3,
  .product-block-pos-4 {
    width: 300px;
  }

  .about-company-logo img,
  .about-title,
  .about-btn {
    margin-left: -11px;
  }
}
