.social {
  text-align: center;
}

.social-title {
  margin-top: 2rem;
  font-family: Merriweather, sans-serif;
  font-size: 22px;
}

.social-icons {
  margin-top: 1.2rem;
  display: inline-flex;
}

.social-icons img {
  padding: 5px;
}

.social-icon-inst:hover,
.social-icon-vk:hover,
.social-icon-fb:hover {
  opacity: 0.5;
}

.social-icons > span {
  padding: 10px;
}

.social-icons > span > a {
  text-decoration: none;
}

//INSTA PHOTOS
.inst-wrapper {
  width: 1643px;
  height: 296px;
  margin: 2.5rem auto 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

//FOOTER
.footer-info {
  margin-top: 67px;
}

.col-footer-title {
  padding-bottom: 1rem;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Proxima Nova Rg', serif;
}

.p-text,
.col-footer-link,
.col-footer-contact {
  font-size: 16px;
  font-family: 'Proxima Nova Rg', serif;
}

.col-about {
  width: 475px;
  margin-left: 9rem;
}

.footer-logo-wrap {
  margin-left: 9rem;
  margin-bottom: 2rem;
}

.col-links {
  width: 315px;
  margin-left: 6.8rem;
}

.col-contacts {
  width: 290px;
  margin-left: 1rem;
}

.col-send-form {
  width: 283px;
  margin-left: 5rem;
}

.btn-send-footer-style {
  padding: 10px 64px;
  background-color: #18477b;
  color: white;
  font-size: 17px;
  font-family: "Proxima Nova Rg", serif;
}

.btn-send-footer-style:hover {
  color: #95d6ff;
}

.input-area {
  border: 2px solid #d9d9d9;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25) inset;
  width: 222px;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 5px;
}

ul {
  line-height: 31px;
}

.col-footer-link,
.col-footer-contact {
  list-style: none;
}

.col-footer-link-style,
.col-footer-contact-style {
  color: black;
}

.col-footer-link-style:hover,
.col-footer-contact-style:hover {
  color: #ad5d1e;
}

.footer-lowest-text {
  font-size: 12px;
  font-family: 'Proxima Nova Rg', serif;
  float: left;
  margin-left: 9rem;
  margin-top: 1.5rem;
}

.main-logo {
  width: 3rem;
  float: right;
  margin-right: 7.5rem;
  transition: 1.5s;
}

.main-logo:hover {
  transform: scale(1.1);
}

.arrow-top {
  width: 46px;
  height: 46px;
  max-width: 60px;
  max-height: 60px;
  position: fixed;
  bottom: 14px;
  right: 14px;
  cursor: pointer;
  z-index: 1;
  filter: brightness(170%);
}

.footer-img img,
.ornament img {
  width: 100%;
  height: 100%;
}

.ornament {
  opacity: 0.4;
  margin-bottom: 1.7rem;
}

// MEDIA QUERY
@media screen and (max-width: 1367px) {
  .p-text {
    width: 322px;
  }

  .col-links {
    margin-left: 5rem;
  }

  .col-contacts {
    margin-left: 0;
  }

  .col-send-form {
    margin-left: 0;
  }
}

@media screen and (max-width: 991.98px) {
  .col-links {
    margin-left: 0;
  }

  .col-contacts {
    margin-left: 0;
  }

  .col-send-form {
    margin-left: 0;
  }
}

@media screen and (max-width: 940px) {
  .footer-lowest {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-lowest-text {
    margin: 0 auto;
  }

  .main-logo {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1675px) {
  .inst-wrapper {
    width: 1000px;
    height: 700px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1580px) {
  .col-send-form {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 1435px) {
  .col-send-form {
    margin-left: 2rem !important;
  }
}

@media screen and (max-width: 1464px) {
  .inst-wrapper {
    width: 1000px;
    height: 700px;
    justify-content: space-evenly;
  }

  .p-text {
    width: 322px;
  }

  .col-send-form {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 1330px) {
  .col-send-form {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1286px) {
  .col-send-form {
    margin-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .col-about {
    margin-left: 0;
  }

  .col-links {
    margin-left: 0;
  }

  .footer-logo-wrap {
    margin-left: 0;
  }
}

@media screen and (max-width: 1034px) {
  .inst-wrapper {
    width: 800px;
    height: 1000px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 819px) {
  .inst-wrapper {
    width: 650px;
    height: 1000px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 670px) {
  .inst-wrapper {
    width: 250px;
    height: 1600px;
    justify-content: space-evenly;
  }
}

@media (max-width: 575.98px) {
  .col-about {
    width: 250px;
  }
}
